:root {
  --primary-color: #ff7e01;
  --secondary-color: #faa935;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

.hero__subtitle img {
  width: 2.3rem;
  height: 2.3rem;
}

.hero__content h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--heading-color);
}

.hero__content h1 .hightlight {
  color: var(--secondary-color);
}

.hero__content p {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.4rem;
}

.hero__img-box img,
.hero__img-box video {
  width: 100%;
  height: 350px;
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
  object-fit: cover;
}

.hero__content {
  padding-top: 3.5rem;
}

.hero__img-box {
  padding-top: 2rem;
}

.services__subtitle {
  font-size: 2rem;
  font-weight: 500;
  color: #ee6e6e;
  font-family: var(--subtitle-font-name);
}

.services__title {
  font-size: 2rem;
  font-weight: 500;
}

.featured__tour-title {
  font-size: 1.6rem;
  font-weight: 500;
}

/* EXPERIENCE SECTION */
.experience__content h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1rem;
}

.experience__content p {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-top: 1rem;
}

.counter__wrapper {
  margin-top: 1.6rem;
}

.counter__box span {
  width: 70px;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px 5px 10px 5px;
}

.counter__box h6 {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: var(--text-color);
}

.experience__img img {
  width: 90%;
}

/* GALLERY SECTION */
.gallery__title {
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
  margin-top: 0.8rem;
}

.masonry__img {
  transition: 0.3s;
}

.masonry__img:hover {
  transform: scale(1.1);
}

/* TESTIMONIAL SECTION */
.testimonial__title {
  font-size: 1.6rem;
  margin-top: 0.8rem;
}

/* =============== RESPONSIVE ================ */
@media only screen and (max-width:992px) {
  .hero__content h1 {
    font-size: 2.5rem;
  }

  .hero__img-box {
    display: none;
  }

  .hero__video-box {
    display: block;
  }

  .services__title,
  .featured__tour-title,
  .gallery__title,
  .testimonial__title,
  .experience__content h2 {
    font-size: 2rem;
  }

  .experience__img {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  .hero__content h1 {
    font-size: 1.8rem;
  }

  .services__title,
  .featured__tour-title,
  .gallery__title,
  .testimonial__title,
  .experience__content h2 {
    font-size: 1.5rem;
  }
}


.contact {
  width: 100%;
  /* height: 90vh; */
  display: flex;
  padding: 80px 0;
}

.contact .leftSide {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .contact {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
}

.contact .rightSide {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .rightSide h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 10;
  font-size: 50px;
  margin-left: 30px;
}

.contact form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 30px;
}

.contact form input {
  height: 46px;
  width: 80%;
  border: 1px solid #c4c4c4;
  padding: 12px 12px;
  border-radius: 6px;
  color: #0c0c0c;
}


.contact form textarea {
  margin-top: 15px;
  height: 70px;
  width: 80%;
  border: 1px solid #c4c4c4;
  padding: 12px 12px;
  border-radius: 6px;
  color: #0c0c0c;
}

.contact input::placeholder,
.contact textarea::placeholder {
  color: #333;
}


@media screen and (max-width: 768px) {
  .contact form input {
    width: 100%;
  }

  .contact form textarea {
    width: 100%;
  }

}

.contact form input::-webkit-input-placeholder {
  /* Edge */
  color: #333;
}

.contact form input::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #333;
}

.contact form input::placeholder {
  color: #333;
}

.contact form input:focus,
.contact form textarea:focus {
  outline: none;
  background: #fff;
}

.contact form label {
  margin-top: 15px;
  color: #1f1f1f;
}

.contact .submit-btn {
  margin-top: 40px;
  width: 150px;
  padding: 10px 15px;
  border: none;
  background-color: #0d6efd;
  color: whitesmoke;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: .3s all;
}


/* 

*/


.interior_13 .text-blk.section-head {
  line-height: 45px;
  font-size: 36px;
  font-weight: 900;
  color: #efbe00;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
}

.interior_13 .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
  font-size: 16px;
}

.interior_13 a {
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  color: inherit;
}

.interior_13 .responsive-cell-block {
  min-height: 75px;
}

.interior_13 .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.interior_13 .responsive-container-block.container {
  max-width: 1320px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding: 0 0 0 50px;
}

.interior_13 .img-sofa3 {
  width: 100%;
}

.interior_13 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-12.wk-desk-6 {
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.interior_13 .card-content {
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.interior_13 .text-blk.sub-head {
  font-size: 22px;
  line-height: 35px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.interior_13 .input {
  width: 70%;
  border-top-width: 2px;
  border-right-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #efbe00;
  height: 50px;
  font-size: 20px;
  padding-top: 1px;
  padding-right: 2px;
  padding-bottom: 1px;
  padding-left: 10px;
  background-color: transparent;
}

.interior_13 .form-box {
  display: flex;
  justify-content: space-between;
}

.interior_13 .submit-btn {
  width: auto;
  background-color: #f8f8f8;
  padding-top: 1px;
  padding-right: 30px;
  padding-bottom: 1px;
  padding-left: 30px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
}

.interior_13 .orange-card {
  background-color: #fff6d2;
  width: 60%;
  height: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.interior_13 .responsive-container-block.big-container {
  position: relative;
  padding: 0 0 0 0;
}

@media (max-width: 1024px) {
  .interior_13 .submit-btn {
    height: 45px;
  }

  .interior_13 .form-box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .interior_13 .input {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }

  .interior_13 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-12.wk-desk-6 {
    margin: 0 0 0 0;
  }

  .interior_13 .img-sofa3 {
    width: 80%;
  }

  .interior_13 .responsive-container-block.container {
    margin: 50px auto 50px auto;
  }

  .interior_13 .orange-card {
    width: 100%;
  }

  .interior_13 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-12.wk-desk-6.img-one {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .interior_13 .responsive-container-block.container {
    padding: 10px 0 10px 50px;
  }

  .interior_13 .text-blk.section-head {
    margin: 0 0 20px 0;
  }

  .interior_13 .text-blk.sub-head {
    font-size: 19px;
    line-height: 30px;
  }
}

@media (max-width: 500px) {
  .interior_13 .input {
    width: 100%;
  }

  .interior_13 .card-content {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .interior_13 .responsive-container-block.container {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .interior_13 .text-blk.section-head {
    font-size: 40px;
    line-height: 55px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin: 0 0 15px 0;
  }

  .interior_13 .text-blk.sub-head {
    font-size: 18px;
    line-height: 28px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin: 0 0 25px 0;
  }

  .interior_13 .responsive-container-block.container {
    padding: 10px 0 10px 20px;
  }

  .interior_13 .card-content {
    padding: 0 20px 0 0;
  }
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }

  .counter__wrapper {
    display: flex;
    flex-direction: column;
  }
}
body {
  overflow-x: hidden;
}